.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.mainContainer{
 background-color: pink;
  position: fixed;
  margin: auto;
  position: fixed;
  margin: auto;
  max-width: 500px;
  max-height: 500px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.progressbar {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 20px;
  border-radius: 4;
  border-width: 1;
  border-color: '#fff';
  max-width: 50%;
  position: relative;
  left: 25%;
 
}

.summary-page.progressbar{
  position: sticky;
  top: 10px;
}

.progress {
  background-color: green;
}

.qstn,.answer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}
.buttonSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  position: relative;
  left: 25%;
  margin-top: 20px;
}
.summary-page{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.button{
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}